.footer {
    padding: 18px;
    background-color: #0A0A23;
    border-top: 1px solid #FACC15;
}

p {
    text-align: center;
    font-size: 1rem;
    color: #F9FAFB;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}